@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto';
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  html body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; }
    html body main {
      position: relative;
      height: 2000px; }
      html body main:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(31, 19, 2, 0.6); }
      html body main nav {
        position: relative;
        width: 100%;
        height: 80px;
        margin-bottom: 15px; }
        html body main nav #navigation {
          position: fixed;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          width: 100%;
          height: 80px;
          -webkit-transition: height 0.4s ease-out;
          transition: height 0.4s ease-out;
          background-color: rgba(0, 0, 0, 0.7); }
          html body main nav #navigation.scrolling {
            height: 40px;
            -webkit-transition: height 0.4s ease-out;
            transition: height 0.4s ease-out; }
          html body main nav #navigation .home {
            box-sizing: border-box; }
            html body main nav #navigation .home a {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              width: 100%;
              height: 100%; }
              html body main nav #navigation .home a .logo {
                padding: 10px;
                width: 160px;
                height: 35px; }
          html body main nav #navigation #mobile-nav {
            display: none; }
          html body main nav #navigation .navigation-list {
            position: relative;
            box-sizing: border-box;
            cursor: pointer; }
            html body main nav #navigation .navigation-list .vertical-animation {
              position: absolute;
              min-width: 50px;
              height: 4px;
              background-color: white;
              left: 0;
              bottom: 0;
              z-index: 99; }
            html body main nav #navigation .navigation-list ul {
              position: relative;
              width: inherit;
              height: 100%;
              left: 0;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
              margin: 0;
              padding: 0; }
              html body main nav #navigation .navigation-list ul li {
                position: relative;
                width: auto;
                height: 100%;
                list-style: none;
                margin-left: 1px; }
                html body main nav #navigation .navigation-list ul li:first-of-type {
                  margin-left: 0; }
                  html body main nav #navigation .navigation-list ul li:first-of-type:before {
                    display: none; }
                html body main nav #navigation .navigation-list ul li:last-of-type {
                  margin-right: 0px; }
                html body main nav #navigation .navigation-list ul li:before {
                  content: '';
                  position: absolute;
                  height: 26px;
                  width: 1px;
                  background-color: white;
                  left: -1px;
                  top: 50%;
                  margin-top: -13px; }
                html body main nav #navigation .navigation-list ul li a {
                  pointer-events: none;
                  width: 100%;
                  height: inherit;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  box-sizing: border-box;
                  padding: 0 20px 0 20px;
                  font-family: 'Open Sans', sans-serif;
                  color: white;
                  line-height: 1em;
                  text-decoration: none;
                  margin: 0; }
      html body main.mobile {
        background-size: 300%;
        background-position: top right 20%; }
        html body main.mobile nav {
          position: fixed;
          height: 100%;
          max-height: 100%; }
          html body main.mobile nav #navigation {
            position: relative;
            -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
            border: none;
            background-color: transparent;
            height: inherit;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start; }
            html body main.mobile nav #navigation .home {
              position: relative;
              height: 82px; }
              html body main.mobile nav #navigation .home:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7); }
              html body main.mobile nav #navigation .home a {
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start; }
                html body main.mobile nav #navigation .home a .logo {
                  padding: 10px 0 10px 10px; }
            html body main.mobile nav #navigation #mobile-nav {
              position: absolute;
              right: -1px;
              top: 15px;
              display: block;
              width: 50px;
              height: 50px;
              cursor: pointer;
              z-index: 98;
              border: 1px solid white;
              border-radius: 5px;
              -webkit-transition: all 0.8s easeInOutCubic;
              transition: all 0.8s easeInOutCubic; }
              html body main.mobile nav #navigation #mobile-nav #nav-icon {
                width: 50px;
                height: 50px;
                position: relative;
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .8s ease-in-out;
                transition: .8s ease-in-out;
                cursor: pointer;
                box-sizing: border-box;
                padding: 8px;
                background-color: rgba(0, 0, 0, 0.7);
                -webkit-transition: background-color 0.8s ease-in;
                transition: background-color 0.8s ease-in; }
                html body main.mobile nav #navigation #mobile-nav #nav-icon span {
                  display: block;
                  position: absolute;
                  height: 5px;
                  width: 34px;
                  background: #fff;
                  border-radius: 5px;
                  opacity: 1;
                  left: 8px;
                  -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
                  -webkit-transition: .7s ease-in-out;
                  transition: .7s ease-in-out; }
                  html body main.mobile nav #navigation #mobile-nav #nav-icon span:nth-child(1) {
                    top: 8px; }
                  html body main.mobile nav #navigation #mobile-nav #nav-icon span:nth-child(2),
                  html body main.mobile nav #navigation #mobile-nav #nav-icon span:nth-child(3) {
                    top: 23px; }
                  html body main.mobile nav #navigation #mobile-nav #nav-icon span:nth-child(4) {
                    top: 37px; }
                html body main.mobile nav #navigation #mobile-nav #nav-icon.open {
                  background-color: transparent;
                  -webkit-transition: background-color 0.3s ease-in;
                  transition: background-color 0.3s ease-in; }
                  html body main.mobile nav #navigation #mobile-nav #nav-icon.open span:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%; }
                  html body main.mobile nav #navigation #mobile-nav #nav-icon.open span:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg); }
                  html body main.mobile nav #navigation #mobile-nav #nav-icon.open span:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg); }
                  html body main.mobile nav #navigation #mobile-nav #nav-icon.open span:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%; }
            html body main.mobile nav #navigation .navigation-list {
              left: 100%;
              height: 100%;
              border: none;
              cursor: default;
              background-color: rgba(0, 0, 0, 0.7); }
              html body main.mobile nav #navigation .navigation-list .vertical-animation {
                display: none; }
              html body main.mobile nav #navigation .navigation-list ul {
                position: relative;
                height: auto;
                -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                box-sizing: border-box;
                margin: 27px 10vw 27px 10vw;
                padding: 10px;
                border: 1px solid #fff;
                overflow: hidden; }
                html body main.mobile nav #navigation .navigation-list ul li {
                  height: auto;
                  padding: 4vw 0;
                  margin: 0;
                  border-top: 1px solid white;
                  -webkit-transition: background-color 0.5s ease-out;
                  transition: background-color 0.5s ease-out;
                  cursor: pointer; }
                  html body main.mobile nav #navigation .navigation-list ul li:first-child {
                    border-top: none; }
                  html body main.mobile nav #navigation .navigation-list ul li:before {
                    display: none; }
                  html body main.mobile nav #navigation .navigation-list ul li.active {
                    background-color: rgba(255, 255, 255, 0.2);
                    -webkit-transition: background-color 0.5s ease-in;
                    transition: background-color 0.5s ease-in; }
                  html body main.mobile nav #navigation .navigation-list ul li a {
                    position: relative;
                    display: inline-block;
                    width: auto;
                    opacity: 0;
                    left: 120%;
                    font-weight: bold; }
                @media only screen and (orientation: landscape) {
                  html body main.mobile nav #navigation .navigation-list ul li {
                    padding: 4vh 0; } }