    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        main {
            nav {
                #navigation {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    height: 50px;
                    .home {
                        box-sizing: border-box;
                        background-color: red;
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            .logo {
                                width: 150px;
                                height: 35px;
                            }
                        }
                    }
                    .navigation-list {
                        position: relative;
                        box-sizing: border-box;
                        background-color: skyblue;
                        border: 1px solid #ddd;
                        .vertical-animation {
                            position: absolute;
                            min-width: 50px;
                            height: 4px;
                            background-color: white;
                            left: 0;
                            bottom: 0;
                        }
                        ul {
                            position: relative;
                            width: inherit;
                            height: 100%;
                            display: flex;
                            flex-flow: row wrap;
                            margin: 0;
                            padding: 0;
                            li {
                                width: auto;
                                height: 100%;
                                list-style: none;
                                a {
                                    pointer-events: none;
                                    width: 100%;
                                    height: inherit;
                                    display: flex;
                                    align-items: center;
                                    box-sizing: border-box;
                                    padding: 0 10px 0 10px;
                                    line-height: 1.1em;
                                    text-decoration: none;
                                    margin: 0;
                                    &:first-of-type {
                                        padding-left: 20px;
                                    }
                                    &:last-of-type {
                                        padding-right: 20px;
                                    }
                                    &.active,
                                    &.hover {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
