html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    main {
        nav {
            #navigation {
                display: flex;
                width: 100%;
                .home {
                    flex-grow: 1;
                }
                .navigation-list {
                    flex-grow: 4;
                    ul {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        li {
                            list-style: none;
                            box-sizing: border-box;
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }
    }
}
