@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto';
html,
body {
    $navBgC: rgba(0, 0, 0, 0.5);
    $navAcBgC: rgba(255, 255, 255, 0.2);
    $navAnimC: rgba(255, 255, 255, 1);
    $navFontC: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    main {
        height: 2000px;
        background-image: url(../img/homeHg.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        nav {
            position: relative;
            width: 100%;
            height: 80px;
            margin-bottom: 15px;
            #navigation {
                position: fixed;
                display: flex;
                justify-content: space-between;
                flex-flow: row nowrap;
                width: 100%;
                height: 80px;
                transition: height .4s ease-out;
                background-color: $navBgC;
                &.scrolling {
                    height: 40px;
                    transition: height .4s ease-out;
                }
                .home {
                    box-sizing: border-box;
                    cursor: pointer;
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        .logo {
                            padding: 10px;
                            width: 160px;
                            height: 35px;
                        }
                    }
                }
                .navigation-list {
                    position: relative;
                    box-sizing: border-box;
                    cursor: pointer;
                    .vertical-animation {
                        position: absolute;
                        min-width: 50px;
                        height: 4px;
                        background-color: $navAnimC;
                        left: 0;
                        bottom: 0;
                        z-index: 99;
                    }
                    #mobile-nav {
                        display: none;
                    }
                    ul {
                        position: relative;
                        width: inherit;
                        height: 100%;
                        left: 0;
                        display: flex;
                        flex-flow: row nowrap;
                        margin: 0;
                        padding: 0;
                        li {
                            position: relative;
                            width: auto;
                            height: 100%;
                            list-style: none;
                            margin-left: 1px;
                            &:first-of-type {
                                margin-left: 0;
                                &:before {
                                    display: none;
                                }
                            }
                            &:last-of-type {
                                margin-right: 0px;
                            }
                            &:before {
                                content: '';
                                position: absolute;
                                height: 26px;
                                width: 1px;
                                background-color: $navFontC;
                                left: -1px;
                                top: 50%;
                                margin-top: -13px;
                            }
                            a {
                                pointer-events: none;
                                width: 100%;
                                height: inherit;
                                display: flex;
                                align-items: center;
                                box-sizing: border-box;
                                padding: 0 20px 0 20px;
                                font-family: 'Open Sans', sans-serif;
                                color: $navFontC;
                                line-height: 1em;
                                text-decoration: none;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
        &.mobile {
            background-size: 300%;
            background-position: top right 20%;
            nav {
                #navigation {
                    flex-flow: column nowrap;
                    border: none;
                    background-color: transparent;
                    height: 100%;
                    .home {
                        a {
                            justify-content: flex-start;
                            .logo {
                                padding: 10px 0 10px 10px;
                            }
                        }
                    }
                    .navigation-list {
                        border: none;
                        cursor: default;
                        height: calc(100% - 55px);
                        .vertical-animation {
                            display: none;
                        }
                        #mobile-nav {
                            position: absolute;
                            right: 0;
                            top: 15px;
                            display: block;
                            width: 50px;
                            height: 50px;
                            cursor: pointer;
                            z-index: 98;
                            border-left: 1px solid #fff;
                            border-top: 1px solid #fff;
                            border-bottom: 1px solid #fff;
                            border-right: 1px solid $navBgC;
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                            transition: all .8s easeInOutCubic;
                            &.active {
                                border-right-color: #fff;
                                border-radius: 5px;
                            }
                            #nav-icon {
                                width: 50px;
                                height: 50px;
                                position: relative;
                                transform: rotate(0deg);
                                transition: .8s ease-in-out;
                                cursor: pointer;
                                box-sizing: border-box;
                                padding: 8px;
                                background-color: $navBgC;
                                transition: background-color .8s ease-in;
                                span {
                                    display: block;
                                    position: absolute;
                                    height: 5px;
                                    width: 34px;
                                    background: #fff;
                                    border-radius: 5px;
                                    opacity: 1;
                                    left: 8px;
                                    transform: rotate(0deg);
                                    transition: .7s ease-in-out;
                                    &:nth-child(1) {
                                        top: 8px;
                                    }
                                    &:nth-child(2),
                                    &:nth-child(3) {
                                        top: 23px;
                                    }
                                    &:nth-child(4) {
                                        top: 37px;
                                    }
                                }
                                &.open {
                                    background-color: rgba(0, 0, 0, 0);
                                    transition: background-color .3s ease-in;
                                    span {
                                        &:nth-child(1) {
                                            top: 18px;
                                            width: 0%;
                                            left: 50%;
                                        }
                                        &:nth-child(2) {
                                            transform: rotate(45deg);
                                        }
                                        &:nth-child(3) {
                                            transform: rotate(-45deg);
                                        }
                                        &:nth-child(4) {
                                            top: 18px;
                                            width: 0%;
                                            left: 50%;
                                        }
                                    }
                                }
                            }
                        }
                        ul {
                            position: relative;
                            height: 100%;
                            left: 100%;
                            flex-flow: column nowrap;
                            box-sizing: border-box;
                            padding: 80px 15px 15px 15px;
                            background-color: $navBgC;
                            li {
                                height: auto;
                                padding: 20px 0;
                                margin: 0;
                                border-top: 1px solid $navFontC;
                                transition: background-color .5s ease-out;
                                cursor: pointer;
                                &:first-of-type {
                                    padding-top: 15px;
                                    border-top: none;
                                }
                                &:before {
                                    display: none;
                                }
                                &.active {
                                    background-color: $navAcBgC;
                                    transition: background-color .5s ease-in;
                                }
                                a {
                                    position: relative;
                                    display: inline-block;
                                    width: auto;
                                    left: 120%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
