html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    * {
        margin: 0;
        padding: 0;
    }
    main {
        nav {
            #navigation {
                .navigation-list {
                    ul {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        li {
                            list-style: none;
                            box-sizing: border-box;
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }
    }
}
