html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    main {
        nav {
            #navigation {
                display: flex;
                width: 100%;
                height: 50px;
                .home {
                    box-sizing: border-box;
                    background-color: red;
                }
                .navigation-list {
                    box-sizing: border-box;
                    background-color: skyblue;
                    ul {
                        flex: none;
                        width: inherit;
                        display: flex;
                        flex-flow: row wrap;
                        margin: 0;
                        padding: 0;
                        li {
                            width: auto;
                            list-style: none;
                            box-sizing: border-box;
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }
    }
}
