html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    main {
        width: inherit;
        nav {
            width: inherit;
            #navigation {
                display: flex;
                width: 600px;
                height: 50px;
                .home {
                    flex-grow: 1;
                    box-sizing: border-box;
                }
                .navigation-list {
                    box-sizing: border-box;
                    flex-grow: 5;
                    ul {
                        width: inherit;
                        display: flex;
                        flex-flow: row wrap;
                        margin: 0;
                        padding: 0;
                        li {
                            width: auto;
                            list-style: none;
                            box-sizing: border-box;
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }
    }
}
