    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        main {
            height: 2000px;
            nav {
                position: relative;
                width: 100%;
                height: 80px;
                margin-bottom: 15px;
                #navigation {
                    position: fixed;
                    display: flex;
                    justify-content: space-between;
                    flex-flow: row nowrap;
                    width: 100%;
                    height: inherit;
                    .home {
                        box-sizing: border-box;
                        background-color: azure;
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            .logo {
                                padding: 10px;
                                width: 160px;
                                height: 35px;
                            }
                        }
                    }
                    .navigation-list {
                        position: relative;
                        box-sizing: border-box;
                        border: 1px solid #ddd;
                        .vertical-animation {
                            position: absolute;
                            min-width: 50px;
                            height: 4px;
                            background-color: #fff;
                            left: 0;
                            bottom: 0;
                            z-index: 99;
                        }
                        #mobile-nav {
                            display: none;
                        }
                        ul {
                            position: relative;
                            width: inherit;
                            height: 100%;
                            left: 0;
                            display: flex;
                            flex-flow: row nowrap;
                            margin: 0;
                            padding: 0;
                            background-color: bisque;
                            li {
                                position: relative;
                                width: auto;
                                height: 100%;
                                list-style: none;
                                margin-left: 1px;
                                &:first-of-type {
                                    margin-left: 0;
                                    &:before {
                                        display: none;
                                    }
                                }
                                &:last-of-type {
                                    margin-right: 0px;
                                }
                                &:before {
                                    content: '';
                                    position: absolute;
                                    height: 26px;
                                    width: 1px;
                                    background-color: #fff;
                                    left: -1px;
                                    top: 50%;
                                    margin-top: -13px;
                                }
                                a {
                                    pointer-events: none;
                                    width: 100%;
                                    height: inherit;
                                    display: flex;
                                    align-items: center;
                                    box-sizing: border-box;
                                    padding: 0 20px 0 20px;
                                    line-height: 1em;
                                    text-decoration: none;
                                    margin: 0;
                                }
                            }
                        }
                    }
                    &.mobile {
                        flex-flow: column nowrap;
                        border: none;
                        .home {
                            a {
                                justify-content: flex-start;
                                .logo {
                                    padding: 10px 0 10px 10px;
                                }
                            }
                        }
                        .navigation-list {
                            border: none;
                            .vertical-animation {
                                display: none;
                            }
                            #mobile-nav {
                                position: absolute;
                                right: 15px;
                                top: 15px;
                                display: block;
                                width: 50px;
                                height: 50px;
                                background-color: darkblue;
                                cursor: pointer;
                                z-index: 98;
                            }
                            ul {
                                position: relative;
                                left: 100%;
                                flex-flow: column nowrap;
                                li {
                                    &:before {
                                        display: none;
                                    }
                                    a {
                                        width: auto;
                                        left: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
