$activeWidth: nil;
.wrapper {
    ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
        background-color: darkcyan;
        li {
            position: relative;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #000;
            color: white;
            &.active {
                $activeWidth: 100%;
                &:before+ .slide {
                    width: $activeWidth;
                }
            }
            &:before {
                content: '';
                position: absolute;
                width: $activeWidth;
                height: 4px;
                background-color: antiquewhite;
                left: 0;
                bottom: 0;
                opacity: 0;
                z-index: 999;
            }
            &.full {
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 4px;
                background-color: red;
            }
            &.slide {
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 4px;
            }
        }
    }
}

@keyframes cssAnimation1 {
    from {
        width: 0;
        left: 0;
    }
    to {
        width: hoverWidth;
        left: hoverLeft;
    }
}
