$activeWidth: 100%;
@keyframes cssAnimation1 {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.wrapper {
    ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
        background-color: darkcyan;
        li {
            position: relative;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #000;
            color: white;
            &:before {
                content: '';
                position: absolute;
                width: 0%;
                height: 4px;
                background-color: #fff;
                left: 0;
                bottom: 0;
                z-index: 999;
                transition: width .3s ease-in-out;
            }
            &:hover {
                &:before {
                    width: 100%;
                    transition: width .8s ease-in-out;
                }
            }
        }
    }
}
